<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web page</title>
</head>
<body>
    <center>
        <h1>Displaying Webpage</h1>
        <table border="4px">
            <tr>
                <td>Topic_name</td>
                <td>name</td>
                <td>url</td>
            </tr>
            {% for i in ws %}
            
            <tr>
                <td>{{i.topic_name}}</td>
                <td>{{i.name}}</td>
                <td>{{i.ulr}}</td>
            </tr>

            {% endfor %}
        </table>
    </center>
</body>
</html>